{{ define "main" }}
<div class="hero">
    <div class="container px-4 gap-y-6 md:px-8 max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-2">
        <div class="text-center order-2 md:order-1 md:text-left md:pr-4 lg:my-auto">
            <h1 class="text-gray-800 text-3xl font-bold lg:text-5xl">Can-Oceania Migration Services.</h1>
            <h1 class="text-gray-700 tracking-wide text-xl font-thin mt-4 mb-10">We provide Canadian Immigration and Recruitment Services. Contact us to discuss your immigration needs.</h1>
            <a href="" class="inline-block rounded-lg shadow-lg px-6 py-2 bg-blue-600 text-white">Call Now</a>
        </div>
        <div class="hero-img rounded-lg overflow-hidden order:1 md:order-2">
            <img src="img/hero_img.jpg" class="w-full h-full">
        </div>
    </div>
</div>
<section id="services" class="pt-28">
    <div class="container px-4 mx-auto max-w-screen-xl">
        <h2 class="font-bold text-3xl text-center mt-6 mb-10">Services</h2>
        <!--Cards Grid-->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-4">
            <!--Card-->
            <div class="rounded-lg w-full p-2">
                <div class="text-white bg-blue-500 inline-block rounded-lg p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                      </svg>
                </div>
                <h3 class="text-2xl font-medium p-1 mt-2">Work</h3>
                <p class="mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="text-blue-600 inline-block mt-2">More...</a>
            
            </div>
            <!--CARD-->

            <div class="rounded-lg w-full p-2">
                <div class="text-white bg-blue-500 inline-block rounded-lg p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                      </svg>
                </div>
                <h3 class="text-2xl font-medium p-1 mt-2">Study</h3>
                <p class="mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="text-blue-600 inline-block mt-2">More...</a>
            
            </div>

            <!--CARD-->

            <div class="rounded-lg w-full p-2">
                <div class="text-white bg-blue-500 inline-block rounded-lg p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                      </svg>
                </div>
                <h3 class="text-2xl font-medium p-1 mt-2">Immigrate</h3>
                <p class="mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="text-blue-600 inline-block mt-2">More...</a>
            
            </div>

            <!--CARD-->

            <div class="rounded-lg w-full p-2 lg:col-start-2">
                <div class="text-white bg-blue-500 inline-block rounded-lg p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                      </svg>
                </div>
                <h3 class="text-2xl font-medium p-1 mt-2">Visit</h3>
                <p class="mt-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="text-blue-600 inline-block mt-2">More...</a>
            
            </div>
        </div>
        
    </div> 

</section>
<section id="" class="pt-32">
    <div class="container mx-auto px-4 max-w-screen-xl">
        <div class="items-center flex flex-wrap space-y-8">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                <img alt="..." class="max-w-full rounded-lg shadow-lg" src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80">
            </div>
            <div class="w-full md:w-5/12 mx-auto px-4">
                <div class="md:pr-12">
                    <h3 class="text-3xl font-semibold">Our Mission & Values</h3>
                    <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
                        We serve you well. We serve you well.
                    </p>
                    <ul class="mt-6 list-disc list-inside text-lg">
                        <li>Professionalism</li>
                        <li>Transparency</li>
                        <li>Communication</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="" class="pt-32">
    <div class="container mx-auto px-4 max-w-screen-xl">
        <div class="items-center flex flex-wrap space-y-8">
            
            <div class="w-full md:w-5/12 mx-auto px-4">
                <div class="md:pr-12">
                    <h3 class="text-3xl font-semibold">Our Mission & Values</h3>
                    <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
                        We serve you well. We serve you well.
                    </p>
                    <ul class="mt-6 list-disc list-inside text-lg">
                        <li>Professionalism</li>
                        <li>Transparency</li>
                        <li>Communication</li>
                    </ul>
                </div>
            </div>
            <div class="w-full md:w-4/12 mx-auto px-4">
                <img alt="..." class="max-w-full rounded-lg shadow-lg" src="img/work-meeting.jpg">
            </div>
        </div>
    </div>
</section>
<section class="pt-32 mb-12">
    <div class="container px-4 mx-auto max-w-screen-xl">
        <div class="py-12 px-4 bg-blue-800 text-white rounded-xl mx-auto">
            <h2 class="font-bold text-3xl text-center mb-6">Looking for a reliable Immigration Consultant?</h2>
            <h2 class="font-bold text-3xl text-center mb-6">Call us to discuss your options</h2>
            <div class="flex justify-center mt-10">
                <a href="" class="rounded-lg px-10 py-2 bg-white text-blue-800">Call Now</a>
            </div>
           
        </div>    
    </div>
</section>

{{ end }}